

input {
  	width: 100%;
}

input[type=text] {
	width: 70%;
  	padding: 12px 20px;
  	margin: 8px 0;
 	box-sizing: border-box;
	transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  	border: 3px solid #555;
	width: 100%;
}

button {
  	background-color: #4CAF50;
  	border: none;
  	color: white;
  	padding: 16px 32px;
  	text-decoration: none;
  	margin: 4px 2px;
  	cursor: pointer;
}

label {
    font-family: Times, serif;
}

.table_etudiants button {
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

/* Boutons mouse hover */
.table_etudiants button:hover {
    filter: opacity(.8);
    cursor: pointer;
}

/* Bouton Supprimer */
.button-delete {
    background-image: linear-gradient(120deg, #dd8888 0%, #ff002a 100%);
    border: none;
 }
.button-update {
    background-image: linear-gradient(120deg, #a4d68b 0%, #4CAF50 100%);
    border: none;
}